.cardDetailsPage {
  padding: 20px;
}

.cardInfo {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

button {
  padding: 10px;
  margin-right: 10px;
}

.removeButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.removeButton:hover {
  background-color: #ff1a1a;
}
