/* src/pages/CardDetailPage/CardDetailPage.module.css */
.cardDetailsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  min-height: 100vh;
  width: 100%;
}

.cardInfo {
  background-color: var(--form-bg-color);
  color: var(--text-color);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto; /* Centrerar kortinformationen */
}

.button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}
