body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-bg-color: #007bff;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #0056b3;
  --form-bg-color: #f9f9f9;
}

[data-theme="dark"] {
  --background-color: #1e1e1e;
  --text-color: #f0f0f0;
  --button-bg-color: #3a3a3a;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #5a5a5a;
  --form-bg-color: #2a2a2a;
}

[data-theme="green"] {
  --background-color: #e8f5e9;
  --text-color: #1b5e20;
  --button-bg-color: #4caf50;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #388e3c;
  --form-bg-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%; /* Fyller hela bredden */
}

.container {
  width: 100%;
  max-width: 1200px; /* Sätt en bredare maxbredd */
  margin: 0 auto; /* Centrerar innehållet */
  padding: 20px;
}

form {
  background-color: var(--form-bg-color);
  transition: background-color 0.3s ease;
  padding: 20px;
  border-radius: 8px;
}

/* index.css eller App.css */
button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(
    --button-text-color
  ); /* Säkerställ att textfärgen också behålls vid hover */
}
