.homePage {
  padding: 20px;
  text-align: center;
}

.addCardButton {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.addCardButton:hover {
  background-color: #45a049;
}
/* Styling för raderingsknappen */
.removeButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.removeButton:hover {
  background-color: #ff1a1a;
}
