.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  width: 100%; /* Täcker hela bredden */
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap; /* Gör att korten kan radbrytas om de är för breda */
  gap: 15px;
  justify-content: center; /* Centrerar korten inom containern */
  width: 100%;
  max-width: 1200px; /* Gör containern bredare */
}
